<%- include('templates/header') -%>
    <!-- Header -->
    <header>
        <label for="check">
            <img src="/img/hambutton.svg" id="sidebar_btn">
        </label>
        <div class="left_area">
            <img src="/img/Binar.png" id="binar">
        </div>
        <div class="right_area">
            <div class="profile">
                <div class="logo_profile">
                    <p style="margin-top: 6px;">H</p>
                </div>
                <div class="name_profile">
                    <p style="margin-top: 6px;">Hardian theja</p>
                </div>
                <img src="/img/arrow.svg">
            </div>
            <div id="search">
                <input type="text" id="input" placeholder="search">
                <button id="button_search" style="height:27px">Search</button>
            </div>
        </div>
    </header>

    <!-- sidebar -->
    <div class="sidebar">
        <a href="/" class="menu_icon" id="home"><img src="/img/home.svg"><span>&nbsp;&nbsp;Dashboard</span></a>
        <a href="/" class="menu_icon"><img src="/img/cars.svg"><span>&nbsp;&nbsp;Cars</span></a>

        <!-- Subsidebar -->
        <div class="subsidebar">
            <div class="list">
                <div class="menu_cars">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CARS</p>
                </div>
                <div class="menu_list_cars">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;List Car</a>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="content">
            <div class="content-column">
                <a href="#" style="text-align: end;"><strong>&nbsp;Car</strong></a>
                <img src="/img/r-arrow.svg">
                <a href="#" style="padding: 0px;">List Car</a>
            </div>
            <h3>List Car</h3>
            <div class="filter-box">
                <form action="/" method="get">
                    <button style="width: 45px;">All</button>
                </form>
                <form action="/" method="get">
                    <input type="hidden" name="size" value="small">
                    <button style="width: 60px;">Small</button>
                </form>
                <form action="/" method="get">
                    <input type="hidden" name="size" value="medium">
                    <button style="width: 65px;">Medium</button>
                </form>
                <form action="/" method="get">
                    <input type="hidden" name="size" value="large">
                    <button style="width: 60px;">Large</button>
                </form>
            </div>

            <!-- list cars -->
            <div class="list-cars">
                <% listCars.forEach( function (car){ %>
                <div>
                    <img src="uploads/<%= car.photo %>">
                    <p><%= car.name %></p>
                    <p><strong>Rp <%= car.price %></strong></p>
                    <p>Updated at <%= car.updatedAt %> WIB</p>
                    <form action="/delete/<%= car.id_car %>" method="get"><button type="submit" class="delete">Delete</button></form>
                    <form action="/update/<%= car.id_car %>" method="get"><button type="submit" class="edit">Edit</button></form>
                </div>
                <% }) %>
            </div>
            <div class="add_button">
                <button><a href="/form" style="padding-left: 0px; line-height: 0px;">Add New Car</button></a>
            </div>
        </div>
    </div>

    <%- include('templates/footer') -%>