<%- include('templates/header') -%>
    <!-- Header -->
    <header>
        <label for="check">
            <img src="/img/hambutton.svg" id="sidebar_btn">
        </label>
        <div class="left_area">
            <img src="/img/Binar.png" id="binar">
        </div>
        <div class="right_area">
            <div class="profile">
                <div class="logo_profile">
                    <p style="margin-top: 6px;">H</p>
                </div>
                <div class="name_profile">
                    <p style="margin-top: 6px;">Hardian theja</p>
                </div>
                <img src="/img/arrow.svg">
            </div>
            <div id="search">
                <input type="text" id="input" placeholder="search">
                <button id="button_search" style="height:27px">Search</button>
            </div>
        </div>
    </header>

    <!-- sidebar -->
    <div class="sidebar">
        <a href="/" class="menu_icon" id="home"><img src="/img/home.svg"><span>&nbsp;&nbsp;Dashboard</span></a>
        <a href="/" class="menu_icon"><img src="/img/cars.svg"><span>&nbsp;&nbsp;Cars</span></a>

        <!-- Subsidebar -->
        <div class="subsidebar">
            <div class="list">
                <div class="menu_cars">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CARS</p>
                </div>
                <div class="menu_list_cars">
                    <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;List Car</a>
                </div>
            </div>
        </div>

        <!-- Content -->
        <div class="content">
            <div class="content-column" id="update-cars">
                <a href="#" style="text-align: end;"><strong>&nbsp;Car</strong></a>
                <img src="/img/r-arrow.svg">
                <a href="#" style="padding: 0px; width: 135px;">List Car</a>
                <img src="/img/r-arrow.svg">
                <a href="#" style="padding-left: 0px;">Update Car Information</a>
            </div>
            <h3>Update Car Information</h3>
        </div>

        <form action="/update/<%= car.id_car %>" method="post" enctype="multipart/form-data" class="container">
            <div  class="form-add">
                <label for="nama">Nama</label>
                <input type="text" id="nama" name="nama" placeholder="Avanza" value="<%= car.name %>"><br><br>
                <label for="sewa">Sewa Per Hari</label>
                <input type="text" id="sewa" name="sewa" placeholder="Rp 0,-" value="<%= car.price %>"><br><br>
                <label for="ukuran">Ukuran</label>
                <select name="ukuran" id="ukuran">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select><br><br>
                <label for="foto">Foto</label>
                <input type="file" id="foto" name="foto" placeholder="https://placeimg.com/640/480/any"><br><br>
            </div>
            <div class="save-cancel-button">
                <a href="/"><button class="cancel-button">Cancel</button></a>
                <button type="submit" class="save-button">Save</button>
            </div>
        </form>

        <!-- Button save/cancel -->

    </div>

    <%- include('templates/footer') -%>