body {
    margin: 0;
    padding: 0;
    background-color: #F4F5F7;
    font-family: "Roboto", sans-serif;
}

header {
    z-index: 2;
    position: fixed;
    background: #fff;
    padding: 20px;
    width: 100%;
    height: 30px;
    box-shadow: 1px 1px 1px rgba(194, 194, 194, 0.8);
}

#binar {
    width: 80px;
    height: 40px;
    margin-left: 100px;
    margin-top: -5px;
}


#search {
    background: #fff;
    text-decoration: none;
    float: right;
    margin-top: -40px;
    margin-right: 118px;
    border: 1px solid rgb(237, 232, 232);
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(73, 20, 20);
    transition: 0.5s;
    transition-property: background;
    height: 27px;
    text-align: center;
    margin-right: 250px;
    padding-left: 5px;
}

#search input {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
    color: rgb(0, 0, 0);
}

#input::-webkit-input-placeholder {
    color: gainsboro;
}

#button_search {
    height: 27px;
    background: transparent;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
}

#button_search:hover {
    background: #AEB7E1;
}

.profile {
    display: flex;
    float: right;
    margin-top: -40px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: 300;
    height: 27px;
    text-align: center;
}

.logo_profile {
    border: #CFD4ED;
    border-radius: 100px;
    width: 28px;
    height: 28px;
    background: #CFD4ED;
}

.name_profile {
    margin-left: 10px;
}

.sidebar {
    z-index: 2;
    background: #0D28A6;
    margin-top: 70px;
    padding-top: 12px;
    position: fixed;
    top: -70px;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}



.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar>#home {
    margin-top: 100px;
}

.sidebar a:hover {
    background: #19b3d3;
}

.sidebar>a>img {
    padding-top: 5px;
}


label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 3px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    background: #19b3d3;
}

.subsidebar {
    z-index: 0;
    background: #fff;
    margin-top: -150px;
    padding-top: 30px;
    position: absolute;
    bottom: -101px;
    left: 250px;
    width: 250px;
    height: 100%;
    box-shadow: 1px 1px 1px rgb(194 194 194 / 80%);
    transition: 0.5s;
    transition-property: left;
}

.list {
    margin-top: 26px;
    font-weight: 600;
}

.menu_list_cars:hover {
    background-color: #CFD4ED;
}

.menu_cars {
    color: #8A8A8A;
}

.menu_list_cars>a {
    text-decoration: none;
    color: black;
    margin-left: 0px;
    padding-left: 0px;
}

#check {
    display: none;
}

#check:checked~.sidebar {
    left: -190px;
}



#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar>.menu_icon {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content {
    padding: 10px;
    z-index: -1;
    padding-top: 20px;
    left: 501px;
    top: 70px;
    height: 100%;
    width: 490%;
    position: absolute;
}

.content .content-column {
    display: flex;
    justify-content: flex-start;
    z-index: -1;
    margin-top: -20px;
    padding-top: 9px;
    width: 15%;
    font-size: 12px;
    margin-left: -60px;
    pointer-events: none;
}

.content h3 {
    padding-left: 15px;
}

.content-column a {
    color: black;
}

#add-cars {
    width: 28%;
    margin-left: -110px;
}

#update-cars {
    width: 30%;
    margin-left: -121px;
}

.filter-box {
    display: flex;
    gap: 15px;
    padding-left: 14px;
    margin-top: 25px;
}

.filter-box button {
    color: #AEB7E1;
    background: #fff;
    height: 35px;
    border: 1px solid #AEB7E1;
    border-radius: 3px;
    font-weight: 600;
}

.filter-box button:hover {
    color: #0D28A6;
    background: #AEB7E1;
    border: 1px solid #0D28A6;
    font-weight: 600;
}

.add_button {
    z-index: -1;
    left: 826px;
    top: 46px;
    position: absolute;
}


.add_button button {
    background: #0D28A6;
    color: #fff;
    font-weight: 600;
    height: 35px;
    width: 120px;
    border: 1px solid #0D28A6;
    border-radius: 3px;
}

.list-cars {
    left: 25px;
    top: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    gap: 10px;
    margin-right: 234px;
}

.list-cars div {
    width: 300px;
    height: 400px;
    background: #fff;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list-cars img{
    width: 100%;
    height: 50%;
}

.list-cars p{
    padding-left: 10px;
}

.list-cars form{
    display: inline;
}

.list-cars button{
    margin-left: 10px;
}

.delete{
    width: 120px;
    height: 50px;
    background: white;
    color : red;
    border: 1px solid red;
    font-weight: 600;
    border-radius: 3px;
}

.delete:hover{
    background: red;
    color: white;
    border: 1px solid red ;
}

.edit{
    height: 50px;
    width: 120px;
    background: #5CB85F;
    color: white;
    border: 1px solid #5CB85F;
    font-weight: 600;
    border-radius: 3px;
}


.edit:hover{
    font-weight: 600;
    color: white;
    background: #458547;
}

.container {
    background: #fff;
    left: 525px;
    top: 230px;
    width: 975px;
    height: 280px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
}

.form-add {
    margin-left: -230px;
    padding: 15px;
    margin-top: 32px;
}

.form-add input {
    margin-left: 100px;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    color: black;
    padding-left: 10px;
}

.form-add>#nama {
    height: 30px;
    width: 460px;
    margin-left: 160px;

}

.form-add>#sewa {
    height: 30px;
    width: 460px;
}

.form-add>#ukuran {
    margin-left: 151px;
    height: 30px;
    width: 460px;
    padding: 5px;
}

.form-add>#foto {
    margin-left: 171px;
    height: 30px;
    width: 191px;
    padding-left: 280px;
}

.save-cancel-button {
    left: -43px;
    top: 420px;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
}

.save-cancel-button button {
    margin: 10px;
    width: 80px;
    height: 40px;
    color: #0D28A6;
    background: #fff;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    font-weight: 600;
}

.save-cancel-button button:hover{
    color: #fff;
    background: #0D28A6;
}